body {
  font-family: Mars;
  /* background-image: linear-gradient(
    119deg,
    #ff0000,
    #c97272,
    white,
    #727272,
    black
  ); */
}
#main-container {
  /* width: 100vh; */
  height: 65vh;
  /* background-image: linear-gradient(119deg, #e70808, transparent,black); */
}
#guess_num {
  box-shadow: -4px -4px 13px rgb(176 147 185), 4px 4px 13px rgb(176 147 185);
  outline: 0;
  font-size: 20px;
  font-family: facon;
}
#generate {
  border: 0;
  outline: 0;
  font-size: 15px;
  font-weight: bold;
  background-image: linear-gradient(180deg, transparent, #0b0a41);
  text-align: center;
  max-width: fit-content;
}
#random_num {
  box-shadow: -4px -4px 13px rgb(176 147 185), 4px 4px 13px rgb(176 147 185);
  outline: 0;
  font-size: 20px;
  font-family: facon;
}
#submit {
  border: 0;
  outline: 0;
  background-image: linear-gradient(180deg, transparent, #0b0a41);
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}
form label {
  margin: 15px 0px;
  text-align: center;
}
/* hover css */
#generate:hover {
  background-image: linear-gradient(180deg, #0b0a41, transparent);
}
#submit:hover {
  background-image: linear-gradient(180deg, #0b0a41, transparent);
  color: white;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 29px;
  padding-bottom: 9px;
  padding-top: 9px;
}
#rules {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  /* background-image: linear-gradient(54deg, #e70808, transparent,black); */
}
#rules ul li {
  list-style-type: type;
  font-size: 15px;
}
#empty {
  height: max-content;
  position: relative;
  top: -500px;
  right: 0;
  background-color: antiquewhite;
  border-radius: 20px;
  width: fit-content;
  padding: 20px;
  margin: auto;
  z-index: 1;
  display: none;
}
#win {
  height: max-content;
  position: relative;
  top: -500px;
  right: 0;
  background-color: antiquewhite;
  border-radius: 20px;
  width: fit-content;
  padding: 20px;
  margin: auto;
  z-index: 1;
  display: none;
}
#lose {
  height: max-content;
  position: relative;
  top: -500px;
  right: 0;
  background-color: antiquewhite;
  border-radius: 20px;
  width: fit-content;
  padding: 20px;
  margin: auto;
  z-index: 1;
  display: none;
}
